* {
    font-family: 'Maven Pro', sans-serif;
    color: #535151;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
h1 strong,
h2 span {
    letter-spacing: -0.7px;
    font-family: 'Source Code Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

svg {
    fill: #212121;
}

.col {
    padding-top: 10px;
}

.input-group2 {
    position: relative;
}

.input-group2 i {
    position: absolute;
    left: 15px;
    top: 25px;
}

.card {
    border: none;
    box-shadow: 0px 0px 15px 5px #21212121;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 10px;
}

input, select, option {
    padding: 12px 40px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    width: 100%;
}

#search {
    border-width: 0px;
    width: 100%;
    color: #fff;
    padding-left: 20px;
    padding-right: 5px;
    height: 20px;
    background-color: transparent;
    outline: none;
}

#search::placeholder {
    color: #fff;
}

.search-container {
    margin-left: 15px;
    width: 50%;
    border-radius: 7px;
    background: #0b5ed7;
    display: flex;
    justify-content: space-between;
}

.search-container>#but {
    padding-right: 15px;
    align-self: center;
    color: #fff;
}

.form-select {
    display: inline-block;
}